GameProgrammingProject/GameProgrammingProject/Library/
GameProgrammingProject/GameProgrammingProject/Logs/
GameProgrammingProject/GameProgrammingProject/Temp/
GameProgrammingAd/GameProgrammingAd/Library/
GameProgrammingAd/GameProgrammingAd/Logs/
GameProgrammingAd/GameProgrammingAd/Temp/
GameProgrammingUMP/Library/
GameProgrammingUMP/Logs/
GameProgrammingUMP/Temp/
